:host {
  display: contents;
}

.developer-profile {
  width: 40%;
  height: 400px;
  padding: 20px;
  border: 0.5px solid #000000de;
  border-radius: 4px;
  margin-top: 50px;
  &__avatar {
    height: 100px;
    width: 100px;
    border-radius: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .developer-profile {
    width: 80%;
  }
} ;
